# Data Understanding

In [2]:
!pip install pandas

Collecting pandas
  Downloading pandas-1.4.2-cp38-cp38-win_amd64.whl (10.6 MB)
Collecting pytz>=2020.1
  Downloading pytz-2022.1-py2.py3-none-any.whl (503 kB)
Requirement already satisfied: python-dateutil>=2.8.1 in e:\anaconda3\envs\venv_netflix_prime_hulu_disney\lib\site-packages (from pandas) (2.8.2)
Collecting numpy>=1.18.5
  Downloading numpy-1.22.4-cp38-cp38-win_amd64.whl (14.8 MB)
Requirement already satisfied: six>=1.5 in e:\anaconda3\envs\venv_netflix_prime_hulu_disney\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Installing collected packages: pytz, numpy, pandas
Successfully installed numpy-1.22.4 pandas-1.4.2 pytz-2022.1

In [4]:
import pandas as pd

In [10]:
data = pd.read_csv("E:/Personal-Project/Data Science Projects/Datasets/kaggle/Movies on Netflix, Prime Video, Hulu and Disney+/archive/MoviesOnStreamingPlatforms.csv")
data.head()

,Unnamed: 0,ID,Title,Year,Age,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type
0,0,1,The Irishman,2019,18+,98/100,1,0,0,0,0
1,1,2,Dangal,2016,7+,97/100,1,0,0,0,0
2,2,3,David Attenborough: A Life on Our Planet,2020,7+,95/100,1,0,0,0,0
3,3,4,Lagaan: Once Upon a Time in India,2001,7+,94/100,1,0,0,0,0
4,4,5,Roma,2018,18+,94/100,1,0,0,0,0

In [19]:
# Use index_col=[0] argument in read_csv() function to remove 'Unnamed: 0' column from the data variable.

# Unnamed: 0 column in pandas comes when you are reading CSV file . 
# The simplest solution would be to read the "Unnamed: 0" column as the index.

df = pd.read_csv("E:/Personal-Project/Data Science Projects/Datasets/kaggle/Movies on Netflix, Prime Video, Hulu and Disney+/archive/MoviesOnStreamingPlatforms.csv", index_col=[0])
df.head()

,ID,Title,Year,Age,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type
0,1,The Irishman,2019,18+,98/100,1,0,0,0,0
1,2,Dangal,2016,7+,97/100,1,0,0,0,0
2,3,David Attenborough: A Life on Our Planet,2020,7+,95/100,1,0,0,0,0
3,4,Lagaan: Once Upon a Time in India,2001,7+,94/100,1,0,0,0,0
4,5,Roma,2018,18+,94/100,1,0,0,0,0

In [22]:
# Get column names in dataframe
df.columns

Index(['ID', 'Title', 'Year', 'Age', 'Rotten Tomatoes', 'Netflix', 'Hulu',
       'Prime Video', 'Disney+', 'Type'],
      dtype='object')

#### Column names in the Dataframe
    ID         - Indicates a single Row in the dataframe (unique value)
    Title      - Name of the Movie/Film (unique value)
    Year       - Release Year of the Movie 
    Age        - Permitted Age to watch a movie 
    Rotten Tomatoes - Review of rate of a movie
    Netflix    - If movie is available in netflix
    Hulu       - If movie is available in hulu
    Prime Video - If movie is available in Prime video
    Disney+    - If movie is available in Disney+
    Type       - Unknown

In [23]:
# Datatype of each column
df.dtypes

ID                  int64
Title              object
Year                int64
Age                object
Rotten Tomatoes    object
Netflix             int64
Hulu                int64
Prime Video         int64
Disney+             int64
Type                int64
dtype: object

#### IMDB datasets
    https://www.kaggle.com/datasets/komalkhetlani/imdb-dataset
    https://www.kaggle.com/datasets/lakshmi25npathi/imdb-dataset-of-50k-movie-reviews